.about{
    width: 100%;
    height: 100%;
    background-color: #FAEBD7;
}

.about-heading{
    color: #19334d;
    text-align: center;
    padding: 2rem 0 2rem 0;
    font-size: 2rem;
}

.about-container{
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 30px;
}

.greeting{
    color: #6384a2;
    font-size: 1.5rem;
}

.left{
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.right{
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.left p{
    color: black;
    font-size: 1rem;
    line-height: 40px;
}

.right p{
    color: black;
    font-size: 1rem;
    line-height: 25px;
    text-align: justify;
    padding-top: 20px;
}

@media screen and (max-width: 768px) {
    .about-container{
        max-width: 90%;
        margin: auto;
        grid-template-columns: 1fr;
    }
}