.experience-container{
    background-color: #19334d;
    padding-bottom: 40px;
}
.experience-heading{
    text-align: center;
    padding: 2rem 0 2rem 0;
    font-size: 2rem;
    color: #FAEBD7;
}

.timeline-element-experience .location{
    color: #6384a2;
}

.timeline-element-experience p{
    color:black;
    text-align: justify;
}

.timeline-element-experience ul{
    list-style-type: disc;
    margin-left: 20px;
}

.timeline-element-experience .vertical-timeline-element-date {
    color: white; 
}
