@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
}

body{
  background: #FAEBD7;
}

h1, h4, p, a{
  color: black;
  text-decoration: none;
}

ul{
  list-style-type: none;
}

.btn{
  padding: 10px 20px;
  font-size: 1rem;
  background: rgb(248, 217, 15);
  color: #222;
  border: 1px solid #fff;
  font-weight: 600;
  cursor: pointer;
  border-radius: 25px;
}

.btn-light{
  background: transparent;
  color: white;
}

.btn:hover{
  background: #ffd700;
  color: white;
  transition: 0.3s;
}